</br>
.col-md-8
  = simple_form_for(@bodega) do |f|
    = f.error_notification

    .form-inputs
      .form-group
        = f.input :nombre
      .form-group
        = f.input :icono, as: :file 
      .form-group
        = f.association :zona, label_method: :nombre, value_method: :id, include_blank: false
      .form-group
        = f.input :direccion
      .form-group
        = f.input :email
      .form-group
        = f.input :reservas
      .form-group
        = f.input :url
      .form-group
        = f.input :foto, as: :file
        
    .form-actions
      = f.button :submit, class: 'button orange'

.clearfix
