.container
  h1.orange Zonas
  = simple_form_for @zona, url: zonas_url do |f|
    table.table.table-striped.table-hover
      thead
        tr
          th Nombre
          th Descripcion
          th
      tbody
        - @zonas.each do |zona|
          tr
            td = zona.nombre
            td = zona.descripcion.truncate(120)
            td = link_to content_tag(:i, 'delete_forever' , class: "material-icons"), zona, data: { confirm: 'Are you sure?' }, method: :delete
        tr
            td
              = f.input :nombre
            td
              = f.input :descripcion
            td
              .form-group
                label style="visibility:hidden;" send
                = f.button :submit, "Crear Zona", class: "form-control"

  h1.orange Lista de Bodegas

  table.table.table-striped.table-hover
    thead
      tr
        th Nombre
        th Zona
        th Direccion
        th Email
        th Reservas
        th Url
        th
        th
        th

    tbody
      - @bodegas.each do |bodega|
        tr
          td = bodega.nombre
          td = bodega.zona.nombre
          td = bodega.direccion
          td = bodega.email
          td = bodega.reservas
          td = bodega.url
          td = link_to content_tag(:i, 'more_horiz' , class: "material-icons"), bodega
          td = link_to content_tag(:i, 'mode_edit' , class: "material-icons"), edit_bodega_path(bodega)
          td = link_to content_tag(:i, 'delete_forever' , class: "material-icons"), bodega, data: { confirm: 'Are you sure?' }, method: :delete

  br

  = link_to 'Nueva Bodega', new_bodega_path, class: 'button orange'

  br 
  br
