.container
  p#notice = notice

  h1.orange Bodega #{@bodega.nombre}
  br

  table.table.table-striped.table-hover
    tbody
      tr
        td
          strong Nombre:
        td
          = @bodega.nombre
      tr
        td
          strong Zona:
        td
          = @bodega.zona.nombre
      tr
        td
          strong Direccion:
        td
          = @bodega.direccion
      tr
        td
          strong Email:
        td
          = @bodega.email
      tr
        td
          strong Reservas:
        td
          = @bodega.reservas
      tr
        td
          strong Url:
        td
          = @bodega.url
      tr
        td
          strong Icono:
        td
          = image_tag @bodega.icono.url, class: 'icon'
      tr
        td
          strong Foto:
        td
          = image_tag @bodega.foto.url

  = link_to 'Editar', edit_bodega_path(@bodega), class: 'button orange float_right'
