.container
  h1.orange Zonas
  = simple_form_for @zona, url: zonas_url do |f|
    table.table.table-striped.table-hover
      thead
        tr
          th Nombre
          th Descripcion
          th
      tbody
        - @zonas.each do |zona|
          tr
            td = zona.nombre
            td = zona.descripcion.truncate(120)
            td = link_to content_tag(:i, 'delete_forever' , class: "material-icons"), zona, data: { confirm: 'Are you sure?' }, method: :delete
        tr
            td
              = f.input :nombre
            td
              = f.input :descripcion
            td
              .form-group
                label style="visibility:hidden;" send
                = f.button :submit, "Crear Zona", class: "form-control"

  h1.orange Restaurantes

  table.table.table-striped.table-hover
    thead
      tr
        th Nombre
        th Direccion
        th Zona
        th Coordenadas
        th Email
        th Url
        th
        th
        th

    tbody
      - @restaurantes.each do |restaurante|
        tr
          td = restaurante.nombre
          td = restaurante.direccion
          td = restaurante.zona.nombre
          td = restaurante.coordenadas
          td = restaurante.email
          td = restaurante.url
          td = link_to content_tag(:i, 'more_horiz' , class: "material-icons"), restaurante
          td = link_to content_tag(:i, 'mode_edit' , class: "material-icons"), edit_restaurante_path(restaurante)
          td = link_to content_tag(:i, 'delete_forever' , class: "material-icons"), restaurante, data: { confirm: 'Are you sure?' }, method: :delete

  br

  = link_to 'Nuevo Restaurante', new_restaurante_path, class: 'button orange'
