.container
  p#notice = notice

  h1.orange Restaurante #{@restaurante.nombre}
  br

  table.table.table-striped.table-hover
    tbody
      tr
        td
          strong Nombre:
        td
          = @restaurante.nombre
      tr
        td
          strong Direccion:
        td
          = @restaurante.direccion
      tr
        td
          strong Coordenadas:
        td
          = @restaurante.coordenadas
      tr
        td
          strong Email:
        td
          = @restaurante.email
      tr
        td
          strong Url:
        td
          = @restaurante.url
      tr
        td
          strong Icono:
        td
          = image_tag @restaurante.icono.url, class: 'icon'
      tr
        td
          strong Foto:
        td
          = image_tag @restaurante.foto.url


  = link_to 'Editar', edit_restaurante_path(@restaurante), class: 'button orange float_right'
