#mainContainer
  img#logo.small src="/images/logo_time.png" alt=""
  
  .form-login
    h2.orange Log in

    = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| 
      .form-inputs
        = f.input_field :email, required: true, autofocus: true, placeholder: "email" 
        br
        = f.input_field :password, required: true, placeholder: "contraseña"
        = f.input :remember_me, as: :boolean if devise_mapping.rememberable? 

      .form-actions
        = f.button :submit, "Ingresar" 
        

    = render "users/shared/links"
