</br>
.col-md-8
  = simple_form_for(@sitio) do |f|
    = f.error_notification

    .form-inputs
      = f.input :foto, as: :file
      = f.association :zona, label_method: :nombre, value_method: :id, include_blank: false
      = f.input :nombre
      = f.input :detalle

    .form-actions
      = f.button :submit, class: 'button orange'

.clearfix
