.container
  h1.orange Zonas
  = simple_form_for @zona, url: zonas_url do |f|
    table.table.table-striped.table-hover
      thead
        tr
          th Nombre
          th Descripcion
          th
      tbody
        - @zonas.each do |zona|
          tr
            td = zona.nombre
            td = zona.descripcion.truncate(120)
            td = link_to content_tag(:i, 'delete_forever' , class: "material-icons"), zona, data: { confirm: 'Are you sure?' }, method: :delete
        tr
            td
              = f.input :nombre
            td
              = f.input :descripcion
            td
              .form-group
                label style="visibility:hidden;" send
                = f.button :submit, "Crear Zona", class: "form-control"

  h1.orange Lista de Sitios Turísticos

  table.table.table-striped.table-hover
    thead
      tr
        th Nombre
        th uid
        th Detalle
        th Zona
        th
        th
        th

    tbody
      - @sitios.each do |sitio|
        tr
          td = sitio.nombre
          td = sitio.uid
          td = sitio.detalle
          td = sitio.zona.nombre
          td = link_to content_tag(:i, 'more_horiz' , class: "material-icons"), sitio
          td = link_to content_tag(:i, 'mode_edit' , class: "material-icons"), edit_sitio_path(sitio)
          td = link_to content_tag(:i, 'delete_forever' , class: "material-icons"), sitio, data: { confirm: 'Are you sure?' }, method: :delete

  br

  = link_to 'Nuevo Sitio Turistico', new_sitio_path, class: 'button orange'
