.container
  p#notice = notice

  h1.orange Sitio Historico #{@sitio.nombre}
  br

  table.table.table-striped.table-hover
    tbody
      tr
        td
          strong Nombre:
        td
          = @sitio.nombre
      tr
        td
          strong uid:
        td
          = @sitio.uid
      tr
        td
          strong Zona:
        td
          = @sitio.zona.nombre
      tr
        td
          strong Detalle:
        td
          = @sitio.detalle
      tr
        td
          strong Foto:
        td
          = image_tag @sitio.foto.url

  = link_to 'Editar', edit_sitio_path(@sitio), class: 'button orange float_right'
