#mainContainer
  img#logo.large src="/images/logo_time.png" alt=""
  h1.orange Bienvenido, seleccione una opcion para continuar.
  br
  = link_to('Logout', destroy_user_session_path, method: :delete, class: "button orange")
