#mainContainer
  img#logo.large src="/images/logo_time.png" alt=""
  br
  - if cookies[:puesto] == "true"
    h2.orange Este puesto ya esta registrado. 
    br
    a.button.orange href="#{puestos_url}/?act=down" Eliminar
  - else
    h2.orange Desea registrar el puesto?
    br
    = form_tag controller: "admin", action:"puestos", method:"POST" do
      = text_field_tag(:ip, nil, placeholder:"IP Privada", required:"true")
      = hidden_field_tag(:act, "up") 
      = submit_tag("Registrar", class:"button orange")
