#mainContainer
  img#logo.small src="/images/logo_time.png" alt="" 
  a href=tour_services_url
    img#miniServicios src="/images/icono_servicios.png" alt=""
  #mainFrame
    div
      a href=pesa_equipaje_url
        img.blueArrow src="/images/triangulo_azul.png" alt=""
      
      img#mainIcon src="/images/asistencia_siguiente.png" alt=""
      
      a href="#"
        img.blueArrow.right src="/images/triangulo_azul.png" alt=""
      
      p.mainText.blue Asistencia <br>al Viajero
      
    a href=tour_services_url
      p#footerNavigation.blue
        img.blueArrow src="/images/triangulo_azul.png" alt=""
        | Volver Atrás
      
