#mainContainer
  img#logo.small src="/images/logo_time.png" alt=""
  a href=tour_info_url
    img#miniServicios src="/images/icono_informacion.png" alt=""

  #mainFrame
    div
      a href=restaurantes_show_url
        img.wineArrow.left src="/images/triangulo_vino.png" alt=""

      img#mainIcon src="/images/icono_central_bodegas.png" alt=""

      a href=compras_show_url
        img.wineArrow.right src="/images/triangulo_vino.png" alt=""

      p.mainText.wine Bodegas
      p.mediumText.wine ¿Qué zona te gustaría visitar?

      - unless @zonas.blank?
        .dropdown.wine
          #dropdownMenu1.button.btn.btn-default.dropdown-toggle type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
            | Seleccione una opción
            /i.material-icons arrow_drop_down
          ul.dropdown-menu aria-labelledby="dropdownMenu1"
            - @zonas.each do |zona|
              li
                a href="#{bodegas_show_url}/#{zona.uid}" = zona.nombre.upcase

  a href=tour_info_url
    p#footerNavigation.wine
      img.wineArrow.left src="/images/triangulo_vino.png" alt=""  Volver Atrás
