#mainContainer
  img#logo.small src="/images/logo_time.png" alt=""
  a href== tour_services_url
    img#miniServicios src="/images/icono_servicios.png" alt=""
  #mainFrame
    div
      a href=""
        img.blueArrow src="/images/triangulo_azul.png" alt=""
      img#mainIcon src="/images/checkin_anterior.png" alt=""
      a href=pesa_equipaje_url
        img.blueArrow.right src="/images/triangulo_azul.png" alt=""
      p.mainText.blue Check In
    div
      p.mediumText.blue Selecciona tu aerolínea
      a href="#{checkin_url}/latam"
        img.icon-circle src="/images/latam.png"
      a href="#{checkin_url}/aerolineas_argentinas"
        img.icon-circle src="/images/aeroar.png"
      

  a href=tour_services_url
    p#footerNavigation.blue
      img.blueArrow src="/images/triangulo_azul.png" alt=""
      | Volver Atrás
