#mainContainer
  a href== tour_services_url
    img#miniServicios src="/images/icono_servicios.png" alt=""
  br
  iframe src==@url

  a href=tour_services_url
    p#footerNavigation.blue
      img.blueArrow src="/images/triangulo_azul.png" alt=""
      | Volver Atrás
