#mainContainer
  img#logo.small src="/images/logo_time.png" alt=""
  a href=tour_info_url
    img#miniServicios.left src="/images/icono_informacion.png" alt=""
  #mainFrame
    div
      a href=sitios_show_url
        img.wineArrow.left src="/images/triangulo_vino.png" alt=""
      img#mainIcon.restaurantesIcon src="/images/icono_excursiones.png" alt=""
      a href=restaurantes_show_url
        img.wineArrow.right src="/images/triangulo_vino.png" alt=""
      p.mainText.wine Excursiones
      - unless @zonas.blank?
        .dropdown
          #dropdownMenu1.button.btn.btn-default.dropdown-toggle type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
            | Seleccione una opción
            /i.material-icons arrow_drop_down
          ul.dropdown-menu aria-labelledby="dropdownMenu1"
            - @zonas.each do |zona|
              li
                a href="#{excursiones_show_url}/#{zona.uid}" = zona.nombre.upcase
  a href=tour_info_url
    p#footerNavigation.gold
      img.wineArrow.left src="/images/triangulo_dorado.png" alt=""
      | Volver Atrás
