#mainContainer
  img#logo.large src="/images/logo_time.png" alt=""
  #languageBar
    p 
      <a href="">Español</a> | <a href="">Inglés</a> | <a href="">Portugués</a>
  h3.orange ¿Donde te encontrás?
  #placeSelectorContainer
    p
      span País
      select dir="rtl"
        option value="" Argentina
    p
      span Provincia
      select.onChangeRedirect dir="rtl"
        option value=services_url Mendoza
