#mainContainer
  img#logo.small src="/images/logo_time.png" alt=""
  a href=tour_info_url
    img#miniServicios src="/images/icono_informacion.png" alt=""
  div
    div
      p.mainText.orange = @zona.nombre
      p.mainDesc.wine = @zona.descripcion

    div#lugaresContainer
      img.wineArrow.left.lugarBefore src="/images/triangulo_vino.png" alt=""
      - unless @lugares.nil?
        - sizes = { 0 => "col-md-4", 1 => "col-md-3", 2 => "col-md-4", 3 => "col-md-3", 4 => "col-md-4 col-md-offset-2", 5 => "col-md-4"}
        - @lugares.each.with_index(1) do |lugar, i|
          - if i == 1 || i % 4 == 0 || i % 6 == 0
            <div class="row">

          div id="#{i}" class="#{sizes[i % 6]}"
            .lugarContainers
              a class="lugarIcon #{"onClickShow" unless lugar.is_a?(Sitio)}" href="#{lugar.is_a?(Sitio) ? sitio_single_url(lugar.uid) : "#" }"
                img src="#{lugar.is_a?(Sitio) ? lugar.foto.url : lugar.icono.url }" alt=""
              br
              - unless lugar.is_a?(Sitio)
                - unless lugar.is_a?(Excursion) || lugar.is_a?(Compra)
                  img.lugarFoto src="#{lugar.foto.url}" alt=""
                p.lugarDesc
                  | #{lugar.direccion}
                  br
                  | e-mail: #{lugar.email}
                  - if lugar.is_a?(Bodega)
                    br
                    | Reservas: #{lugar.reservas}
                a.lugarUrl href="#"
                  p.orange.basic Dirigirse al sitio oficial
                div#modalframe.onloadhide
                  object#frame type="text/html" data="#{lugar.url}" width="1500" height="800"
              - else
                h4.orange = lugar.nombre.upcase
          - if i % 3 == 0 && i % 5 > 2 || i % 5 == 0
            </div>
        - if @lugares.length % 3 != 0 && @lugares.length % 5 != 0 && @lugares.length % 5 < 2
          </div>

  .clearfix
  a href=tour_info_url
    p#footerNavigation.lugares.orange
      img.wineArrow src="/images/triangulo_naranja.png" alt=""
      | Volver Atrás
