#mainContainer
  img#logo.small src="/images/logo_time.png" alt=""
  a href=tour_services_url
    img#miniServicios src="/images/icono_servicios.png" alt=""
  #mainFrame
    div
      a href=checkin_url
        img.blueArrow src="/images/triangulo_azul.png" alt=""
      img#mainIcon src="/images/valija_central.png" alt="" 
      a href=asistencia_url
        img.blueArrow.right src="/images/triangulo_azul.png" alt=""
      p.mainText.blue Pesá tu <br>equipaje
      p#output.mainText.blue.peso Leyendo ... 
      #pasosContainer
        img.pasosPesa.pasosPesa1.onloadhide src="/images/paso_1.png" alt=""
        img.pasosPesa.pasosPesa2.onloadhide src="/images/paso_2.png" alt=""
        img.pasosPesa.pasosPesa3.onloadhide src="/images/paso_3.png" alt=""
  a href=tour_services_url
    p#footerNavigation.blue
      img.blueArrow src="/images/triangulo_azul.png" alt=""
      | Volver Atrás

  - unless @wss.blank?
    input type="hidden" value="#{cookies[:ip]}" id="ip"
    javascript:
      var wsUri = "ws://" + $('#ip').val() + ":11000" ;
      var $output = $('#output');
      
      function init() {
        connectWebSocket();
      }

      function connectWebSocket() {
        websocket = new WebSocket(wsUri);

        websocket.onopen = function(evt) {
          console.log('Connected');
        };
        websocket.onclose = function(evt) {
          console.log('Disconnected');
        };
        websocket.onmessage = function(evt) {
          writeToScreen(evt.data);
        };
        websocket.onerror = function(evt) {
          console.error(evt)
        };
      }

      function writeToScreen(message) {
        $output.html(message);
      }

      //FIXME: Turbolinks
      window.addEventListener("load", init, false);
