#mainContainer
  img#logo.medium src="/images/logo_time.png" alt=""
  #servicesContainer
    a href=tour_services_url
      #servicesIconContainer
        img#serviceIcon src="/images/icono_servicios.png" alt=""
        p.mainText.blue Servicios <br> Turísticos

    a href=tour_info_url
      #servicesIconContainer
        img#serviceIcon src="/images/icono_informacion.png" alt=""
        p.mainText.orange Información <br> Turística
  
  a href=root_url
    p#footerNavigation.blue
      img.blueArrow src="/images/triangulo_azul.png" alt=""
      | Volver Atrás
