#mainContainer
  img#logo.small src="/images/logo_time.png" alt=""
  a href=tour_info_url
    img#miniServicios.left src="/images/icono_informacion.png" alt=""
  div
    div
      p.mainText.gold = @sitio.nombre.upcase
      p.mainDesc.noborder = @sitio.detalle
    br
  #mainFrame
    img src=@sitio.foto.url

  a href=tour_info_url
    p#footerNavigation.lugares.orange
      img.wineArrow src="/images/triangulo_naranja.png" alt=""
      | Volver Atrás
