#mainContainer
  #logo.small src="/images/logo_time.png" alt=""
  #circlesContainer
    img#optionsBackground src="/images/icono_central_info.png" alt=""

    a.optionIconContainer.pesa href="#"
      img.optionIcon src="/images/circulo_turismo.png" alt=""
    a.optionIconContainer.asistencia href=excursiones_show_url
      img.optionIcon src="/images/circulo_excursiones.png" alt=""
    a.optionIconContainer.alquiler href=sitios_show_url
      img.optionIcon src="/images/circulo_sitios.png" alt=""
    a.optionIconContainer.paquetes href=compras_show_url
      img.optionIcon src="/images/circulo_compras.png" alt=""
    a.optionIconContainer.venta href=bodegas_show_url
      img.optionIcon src="/images/circulo_bodegas.png" alt=""
    a.optionIconContainer.checkin href=restaurantes_show_url
      img.optionIcon src="/images/circulo_restaurantes.png" alt=""

  a href=services_url
    p#footerNavigation.orange
      img.blueArrow src="/images/triangulo_naranja.png" alt=""
      | Volver Atrás
