#mainContainer
  img#logo.small src="/images/logo_time.png" alt="" 
  #circlesContainer
    img#optionsBackground src="/images/icono_central_servicios.png" alt=""        
    a.optionIconContainer.pesa href=pesa_equipaje_url
      img.optionIcon src="/images/circulo_pesa.png" alt="" 
    a.optionIconContainer.asistencia href=asistencia_url
      img.optionIcon src="/images/circulo_asistencia.png" alt="" 
    a.optionIconContainer.alquiler href="#" 
      img.optionIcon src="/images/circulo_alquiler.png" alt="" 
    a.optionIconContainer.paquetes href="#"
      img.optionIcon src="/images/circulo_paquetes.png" alt="" 
    a.optionIconContainer.venta href="#"
      img.optionIcon src="/images/circulo_venta.png" alt=""
    a.optionIconContainer.checkin href=checkin_url
      img.optionIcon src="/images/circulo_check.png" alt="" 
          
  a href=services_url
    p#footerNavigation.blue
      img.blueArrow src="/images/triangulo_azul.png" alt=""
      | Volver Atrás
