h1 Listing zonas

table
  thead
    tr
      th Nombre
      th Descripcion
      th
      th
      th

  tbody
    - @zonas.each do |zona|
      tr
        td = zona.nombre
        td = zona.descripcion
        td = link_to 'Show', zona
        td = link_to 'Edit', edit_zona_path(zona)
        td = link_to 'Destroy', zona, data: { confirm: 'Are you sure?' }, method: :delete

br

= link_to 'New Zona', new_zona_path
