</br>
.col-md-8
  = simple_form_for(@compra) do |f|
    = f.error_notification

    .form-inputs
      = f.association :zona, label_method: :nombre, value_method: :id, include_blank: false
      = f.input :icono, as: :file 
      = f.input :nombre
      = f.input :direccion
      = f.input :coordenadas
      = f.input :email
      = f.input :url
      = f.input :horario

    .form-actions
      = f.button :submit, class: 'button orange'

.clearfix
