.container
  h1.orange Zonas
  = simple_form_for @zona, url: zonas_url do |f|
    table.table.table-striped.table-hover
      thead
        tr
          th Nombre
          th Descripcion
          th
      tbody
        - @zonas.each do |zona|
          tr
            td = zona.nombre
            td = zona.descripcion.truncate(120)
            td = link_to content_tag(:i, 'delete_forever' , class: "material-icons"), zona, data: { confirm: 'Are you sure?' }, method: :delete
        tr
            td
              = f.input :nombre
            td
              = f.input :descripcion
            td
              .form-group
                label style="visibility:hidden;" send
                = f.button :submit, "Crear Zona", class: "form-control"

  h1.orange Lista de lugares de compras

  table.table.table-striped.table-hover
    thead
      tr
        th Nombre
        th Direccion
        th Coordenadas
        th Email
        th Url
        th Horario
        th Zona
        th
        th
        th

    tbody
      - @compras.each do |compra|
        tr
          td = compra.nombre
          td = compra.direccion
          td = compra.coordenadas
          td = compra.email
          td = compra.url
          td = compra.horario
          td = compra.zona.nombre
          td = link_to content_tag(:i, 'more_horiz' , class: "material-icons"), compra
          td = link_to content_tag(:i, 'mode_edit' , class: "material-icons"), edit_compra_path(compra)
          td = link_to content_tag(:i, 'delete_forever' , class: "material-icons"), compra, data: { confirm: 'Are you sure?' }, method: :delete

  br

  = link_to 'Nuevo lugar de compra', new_compra_path, class: 'button orange'
