.container
  p#notice = notice

  h1.orange Local #{@compra.nombre}

  table.table.table-striped.table-hover
    tbody
      tr
        td
          strong Nombre:
        td
          = @compra.nombre
      tr
        td
          strong Zona:
        td
          = @compra.zona.nombre
      tr
        td
          strong Direccion:
        td
          = @compra.direccion
      tr
        td
          strong Coordenadas:
        td
          = @compra.coordenadas
      tr
        td
          strong Email:
        td
          = @compra.email
      tr
        td
          strong Url:
        td
          = @compra.url
      tr
        td
          strong Horario:
        td
          = @compra.horario
      tr
        td
          strong Icono:
        td
          = image_tag @compra.icono.url, class: 'icon'

  = link_to 'Editar', edit_compra_path(@compra), class: 'button orange float_right'
