// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#wholeContainer{
  .w3-sidebar{
    background-color: #1a1a1a;
    color: #fff;
  }
  .orange{
    color: #ef7c00;
  }
  h1{
    font-size: 5rem;
  }
  hr{
    border-top: 1px solid #333;
  }

  .button.orange{
    background-color: #ef7c00;
    color: #fff;
    font-size: 16px;
    margin: 5px;
    padding: 6px 15px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 4px;
    &:hover{
      opacity: 0.8;
    }
  }
  table {
    border-color: #ddd;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    thead, tbody{
      background-color: white;
    }
    a:hover{
      color: #ef7c00;
    }
  }

}

.form-login {
  label{
    display: none;
  }

  input{
    margin: 5px;
    font-family: helvetica, verdana, sans-serif, arial;
    font-size: 12px;
  }

  input[type=submit]{
    background: #ef7c00;
    color: #fff;
    font-size: 14px;
    &:hover{
      opacity: 0.8;
    }
  }

}
