body{
	background-color: #eee;
}
.mainContainer{
	width: 850px;
	height: auto;
	min-height: 500px;
	margin: 0 auto;
	border: 1px solid #666;
	box-shadow: 3px 3px 3px rgba(0,0,0,.5);
	padding:20px 50px;
	border-radius: 10px;
	background-color: #eee;
}

.formContainer{
	padding:20px;
}

form.commonForm input,form.commonForm select{
	width: 270px;
	height: 40px;
	margin: 10px;
}
form.commonForm label{
	min-width: 100px;
}

table tr td.optionsCol .btn{
	float:left;
	margin: 3px;
}

.alert{
	position: absolute;
	width: 95%;
	margin-left: 2.5%;
	margin-top: 0.5rem;
}
