/*
 * SimpleModal Basic Modal Dialog
 * http://simplemodal.com
 *
 * Copyright (c) 2013 Eric Martin - http://ericmmartin.com
 *
 * Licensed under the MIT license:
 *   http://www.opensource.org/licenses/mit-license.php
 */

#basic-modal-content {display:none;}

/* Overlay */
#simplemodal-overlay {background-color:white;}

/* Container */
#simplemodal-container {height:90%; width:90%;border:0; padding:0;}
#simplemodal-container .simplemodal-data {padding:0;}
#simplemodal-container a.modalCloseImg {background:url(/bundles/fchome/images/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}

#frame{
	width:1400px;
	height: 700px;
	margin:50px auto;
}