@charset "utf-8";
/* CSS Document */

html{
    width: 100%;
    height: 100%;
}

body{
	background-color:#fff;
  font-family: 'Lato', sans-serif;
  color:#656365;
  font-size: 14px;
	margin:0px;
	padding:0px;
  height: 100%;
}

a{
    text-decoration:none;
    color:#FFF;
    font-size:100%;
}

a:hover{
    text-decoration: none;
    color:#FFF;
}

h1{
    font-size:150%;
    font-stretch: expanded;
}

h2{
    font-size:180%;
}

h3{
    font-size:150%;
    text-align: center;
}
h3.orange{
    color:#ef7c00;
}


p {
    font-size:105%;
}
.onloadhide{
    display:none;
}
.clearfix{
    clear: both;
}

#wholeContainer{
    display: block;
    background:url("/images/fondo1000.jpg") repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width:100%;
    min-height: 900px;
    overflow: hidden;
}

#mainContainer{
    overflow: hidden;
    text-align: center;
    min-height: 900px;
}

#logo{
    display: block;
    margin: 70px auto;
}

#logo.large{
    width: 50%;
}

#logo.medium{
    width: 30%;
    min-width: 300px;
    max-width: 350px;
}

#logo.small{
    width: 20%;
    min-width: 200px;
    max-width: 300px;
}

#languageBar{
    width:100%;
    height: 50px;
    background: #ef7c00;
    margin:100px auto 50px;
}

#languageBar p{
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 140% !important;
    text-decoration: none;
    letter-spacing: 2px;
}

#placeSelectorContainer{
    width: 28%;
    min-width: 355px;
    margin:10px auto;
    text-align: center;
    font-size: 140% !important;
    text-decoration: none;
}

#placeSelectorContainer p{
    width: 100%;
    height: 50px;
    background: #ef7c00;
    color:#fff;
    line-height: 50px;
    min-width: 355px;
}
#placeSelectorContainer p span{
    width: 100px;
    display: inline-block;
    text-align: left;
    margin-right: 20px;
    line-height: 40px;
    height: 40px;
    padding: 0;
}


#placeSelectorContainer select{
    margin:0 auto;
    width:40%;
    min-width: 150px;
    height: 40px;
    border:none;
    background: #ef7c00;
    color:#fff;
    font-size: 100%;
    text-decoration: none;
    text-indent: 40px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("/images/triangulo_blanco.png") no-repeat 100% 50%;

}

#placeSelectorContainer select option{
    background-image: url("/images/triangulo_blanco.png");
    font-size: 100%;
}

#servicesContainer{
    display:inline-block;
    margin:0 auto;
}

#servicesIconContainer{
    display: inline-block;
    margin:0 20px;
}

#servicesIconContainer p{
    text-align: center;
}

#serviceIcon{
    width:90%;
}

.mainText{
    font-size: 200%;
    font-weight: bold;
    line-height: 110%;
}

.mediumText{
    font-size: 180%;
    font-weight: bold;
}

.blue{
    color:#114b85;
}

.orange{
    color:#ef7c00;
}

.wine{
    color:#cc3333;
}

.gold{
    color: #D4B32B;
}

#footerNavigation{
    font-size: 150%;
    text-align: left;
    margin-left:15%;
    width: 30%;
    display: block;
    position: absolute;
    top:0;
    margin-top:830px;
}

#footerNavigation.lugares{
  position: relative;
  margin-top: 15px;
}

#footerNavigation img{
    margin:0 10px -5px 0;
}

#circlesContainer{
    display: inline-block;
    position: relative;
}

#optionsBackground{
    display: block;
}

.optionIconContainer{
    display: inline-block;
    position: absolute;
    padding: 0;
    width: auto;
}
.optionIcon{
    display: block;
}

.pesa{
    top:0;
    left:50%;
    margin-left:-13%;
    margin-top:-40px;
}

.paquetes{
    bottom:0;
    left:50%;
    margin-left:-13%;
    margin-bottom:-40px;
}

.asistencia{
    top:15%;
    right:0;
}

.checkin{
    left:0;
    top:15%;
}

.alquiler{
    bottom:15%;
    right: 0;
}

.venta{
    bottom:15%;
    left:0;
}

#mainFrame{
    display: inline-block;
    margin:0 auto;
    width:80%;
    text-align: center;
}

#miniServicios{
    width: 90px;
    display: block;
    margin-left:15%;
    position: absolute;
    top:0;
    margin-top:230px;
}

#mainIcon{
    margin: 0 40px;
}

.blueArrow.right{
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

.wineArrow.right{
    -ms-transform: rotate(30deg); /* IE 9 */
    -webkit-transform: rotate(30deg); /* Chrome, Safari, Opera */
    transform: rotate(30deg);
}

.wineArrow.left{
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}

.peso{
    font-size: 400% !important;
    border: 5px solid #114b85;
    width: 60%;
    display: block;
    margin:20px auto;
}


#pasosContainer{
    height: 208px;
    display: block;
}

#pasosContainer img{
    margin:10px;
}

.restaurantesIcon{
    width: 110px;
}

.dropdown{
    font-size: 3rem;
    width: 60%;
    margin: auto;
}

.dropdown .button{
    font-size: 3rem;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.dropdown .button, .dropdown.open .button{
    border: 5px solid;
}


.dropdown .dropdown-menu{
    width: 100%;
    font-size: 3rem;
}

#areaSelector{
    font-size: 250% !important;
    text-indent: 32%;
    border: 5px solid;
    width: 60%;
    display: block;
    margin:20px auto;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.dropdown .button, .dropdown.open .button, .dropdown #areaSelector{
  background: url("/images/triangulo_gris.png") no-repeat 95% 50%;
}

.dropdown.wine .button, .dropdown.wine.open .button, .dropdown.wine #areaSelector{
    border-color: #cc3333;
    color: #cc3333;
    background: url("/images/triangulo_vino.png") no-repeat 95% 50%;
}

.dropdown.wine .dropdown-menu li a, .dropdown.wine #areaSelector option{
    color:#cc3333;
}

.mainDesc{
    font-size: 140%;
    width:50%;
    text-align: center;
    border-left:5px solid #ef7c00;
    border-right:5px solid #ef7c00;
    display: inline-block;
    min-width: 550px;
    padding:0 30px;
}

.mainDesc.noborder{
  border: 0;
}


#lugaresContainer{
    position:relative;
    min-height: 400px;
}

.lugarContainer{
    display: inline-block;
    position: absolute;
    background-color: rgba(255,255,255,.9)
}

.lugarContainer.left{
    left:10%;
    top:3%;
}

.lugarContainer.center{
    left:40%;
    top:5%;
}

.lugarContainer.right{
    right:10%;
    top:5%;
}

.lugarContainer.bottomleft{
    left:20%;
    top:40%;
}

.lugarContainer.bottomcenter{
    left:45%;
    top:60%;
}

.lugarContainer.bottomright{
    right:20%;
    top:35%;
}

.lugarIcon{
    border:5px solid #ef7c00;
    display: inline-block;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    background:#fff;
    text-align: center;
    line-height: 120px;
}

.lugarIcon img{
    object-fit: contain;
    display: block;
    margin:0 auto;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.lugarDesc{
    color:#666;
    width: 300px;
    border-left:5px solid #666;
    border-right:5px solid #666;
    display: block;
    margin:10px auto;
    display: none;
    background-color:#fff;
}

.lugarFoto{
    width:350px;
    display: block;
    display: none;
    margin:10px auto;
}

.lugarUrl{
    display:none;
}

.lugarBefore{
    float:left;
    margin-top:200px;
    margin-left: 50px;
}

.lugarNext{
    float:right;
    margin-top:200px;
    margin-right: 50px;
}

.atFront{
    z-index: 999;
}

.icon-circle{
    margin: 0px 10px;
    width: 150px;
    height: 150px;
    border: 5px #104C86 solid;
    border-radius: 50%;
}

iframe{
    border: 1px #ef7c00 solid;
    width: 55vw;
    height: 85vh;
}

.float_right{
  float: right;
}

.icon{
  width: 150px;
  object-fit: cover;
}
