.container
  h1.orange Zonas
  = simple_form_for @zona, url: zonas_url do |f|
    table.table.table-striped.table-hover
      thead
        tr
          th Nombre
          th Descripcion
          th
      tbody
        - @zonas.each do |zona|
          tr
            td = zona.nombre
            td = zona.descripcion.truncate(120)
            td = link_to content_tag(:i, 'delete_forever' , class: "material-icons"), zona, data: { confirm: 'Are you sure?' }, method: :delete
        tr
            td
              = f.input :nombre
            td
              = f.input :descripcion
            td
              .form-group
                label style="visibility:hidden;" send
                = f.button :submit, "Crear Zona", class: "form-control" 
                
  h1.orange Lista de Excursiones

  table.table.table-striped.table-hover
    thead
      tr
        th Direccion
        th Email
        th Reservas
        th Telefono
        th Url
        th Zona
        th
        th
        th

    tbody
      - @excursions.each do |excursion|
        tr
          td = excursion.direccion
          td = excursion.email
          td = excursion.reservas
          td = excursion.telefono
          td = excursion.url
          td = excursion.zona.nombre
          td = link_to content_tag(:i, 'more_horiz' , class: "material-icons"), excursion
          td = link_to content_tag(:i, 'mode_edit' , class: "material-icons"), edit_excursion_path(excursion)
          td = link_to content_tag(:i, 'delete_forever' , class: "material-icons"), excursion, data: { confirm: 'Are you sure?' }, method: :delete

  br

  = link_to 'Nueva Excursion', new_excursion_path, class: 'button orange'
