.container
  p#notice = notice

  h1.orange Excursion
  br

  table.table.table-striped.table-hover
    tbody
      tr
        td
          strong Zona:
        td
          = @excursion.zona.nombre
      tr
        td
          strong Direccion:
        td
          = @excursion.direccion
      tr
        td
          strong Email:
        td
          = @excursion.email
      tr
        td
          strong Reservas:
        td
          = @excursion.reservas
      tr
        td
          strong Telefono:
        td
          = @excursion.telefono
      tr
        td
          strong Url:
        td
          = @excursion.url
      tr
        td
          strong Icono:
        td
          = image_tag @excursion.icono.url, class: 'icon'

  = link_to 'Editar', edit_excursion_path(@excursion), class: 'button orange float_right'
