- flash.each do |key, value| 
  div class="alert alert-dismissible alert-#{key == 'alert' ? "danger" : key == 'notice' ? "info" : key}" role="alert"
    button.close type="button" data-dismiss="alert" aria-label="Close" 
      span aria-hidden="true" &times;
    = value
        
