.w3-sidebar.w3-bar-block style="width:15%;"
  img#logo.small src="/images/logo_time.png" alt=""
  hr
  h3.w3-bar-item.orange Administrador
  hr
  a.w3-bar-item.w3-button href=bodegas_url Bodegas
  a.w3-bar-item.w3-button href=restaurantes_url Restaurantes
  a.w3-bar-item.w3-button href=excursions_url Excursiones
  a.w3-bar-item.w3-button href=compras_url Compras
  a.w3-bar-item.w3-button href=sitios_url Sitios Historicos
  a.w3-bar-item.w3-button href=puestos_url Puestos
  hr
  = link_to('Logout', destroy_user_session_path, method: :delete, class: " w3-bar-item w3-button")
