doctype html
html
  head
    
    title EasyTravel
    = csrf_meta_tags
    
    meta http-equiv="Content-Type" content="text/html; charset=utf-8"
    link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png"
    link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png"
    
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    
    script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"
    link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'
    link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"
  body
    
    #wholeContainer
      - if user_signed_in?
        = render  'layouts/sidebar'

      div style="margin-left:15%; position: relative;"
        = render 'layouts/messages'
        = yield 
      
      

    javascript:
      function w3_open() {
        document.getElementById("main").style.marginLeft = "25%";
        document.getElementById("mySidebar").style.width = "25%";
        document.getElementById("mySidebar").style.display = "block";
        document.getElementById("openNav").style.display = 'none';
      }
      function w3_close() {
        document.getElementById("main").style.marginLeft = "0%";
        document.getElementById("mySidebar").style.display = "none";
        document.getElementById("openNav").style.display = "inline-block";
      } 
    
    
