doctype html
html
  head
    
    title EasyTravel
    = csrf_meta_tags
    
    meta http-equiv="Content-Type" content="text/html; charset=utf-8"
    link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"
    link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png"
    link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png"
    link rel="manifest" href="/manifest.json"
    link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5"
    meta name="theme-color" content="#ffffff"
    
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'
    script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"    
    link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"
  
  body
    div#wholeContainer
      = yield
